version: '3'

services:
  no-hardlink-tagger:
    build: .
    container_name: no-hardlink-tagger
    restart: unless-stopped
    environment:
      - PUID=0
      - PGID=0
      - TZ=America/New_York
      - QBITTORRENT_URL=${QBITTORRENT_URL}
      - QBITTORRENT_USER=${QBITTORRENT_USER}
      - QBITTORRENT_PASS=${QBITTORRENT_PASS}
      - ORPHAN_TAG=${ORPHAN_TAG}
      - DOWNLOADS_DIR=${DOWNLOADS_DIR}
      - MEDIA_DIRS=${MEDIA_DIRS}
    volumes:
      # Mount all the relevant directories
      - /media:/media
